# Server Configuration
SERVER_PORT=3123

# Kafka Configuration
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=logstorm
KAFKA_CONSUMER_GROUP=logstorm-processor-group
KAFKA_TOPICS=logs-topic,dlq-log
KAFKA_LINGER=100ms
KAFKA_BATCH_SIZE=30000000
KAFKA_RETRY_TIMEOUT=30s

# ClickHouse Configuration
CLICKHOUSE_ADDR=localhost:9000
CLICKHOUSE_DATABASE=logstorm
CLICKHOUSE_USERNAME=logstorm
CLICKHOUSE_PASSWORD=123456
CLICKHOUSE_DIAL_TIMEOUT=5s

# Retry Configuration
RETRY_MAX_RETRIES=3
RETRY_BASE_DELAY=100ms
RETRY_MAX_DELAY=5s
