# =========================
# PostgreSQL
# =========================

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# =========================
# Adminer
# =========================

ADMINER_PORT=

# =========================
# Mailpit
# =========================

MAILPIT_SMTP_PORT=
MAILPIT_WEB_PORT=

# =========================
# ClickHouse
# =========================

CLICKHOUSE_DB=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_HTTP_PORT=
CLICKHOUSE_NATIVE_PORT=
